<div class="card text-center">
  <div class="card-header">
    Register Your Profile
  </div>
  <div class="card-body">
   <%= render 'form', profiledetail: @profiledetail %>
  </div>
</div>

<%= link_to 'Back', profiledetails_path %>
